@{
    ViewBag.Title = "iBunter Inicio";
}

<div class="jumbotron" style="background: rgba(255, 255, 255, 0.2); position: relative; top: 30px; ">
    <div style="font-size:3em; text-align:center; color:white; ">Que eres?</div>    
    <div style="height:2.0em;"></div>
    <div style="text-align: center;">        
        <div class="container" style="position:relative;">
            <div class="row">
                <div class="col-lg-6">
                    <a class="btn btn-lg btn-success" style="font-size: 1.2em; background: #446900; " href="#" role="button" >Soy una Empresa</a>
                </div>
                <div class="col-lg-6">
                    <a class="btn btn-lg btn-warning" style="font-size: 1.2em; background: #d9aa04;" href="#" role="button">Soy un Empleado</a>
                </div>
            </div>
        </div>
    </div>  
    
 </div>
<div style="height:2.0em;"></div>
<div class="row">
    <div class="col-md-12">
        <h2 style="color:white;">Quienes somos?</h2>
        <p style="color:white;">
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>       
    </div>       
</div>
<div style="height:3.0em;"></div>
<div class="row">
            <div class="col-md-3">  
                  <div><h2 style="color:white;">Como funciona?</h2></div>              
            </div>
            <div class="col-md-3">
                <div style="position: relative; top: 1.8em; border-radius: 1em; background: rgba(1, 44, 148, 0.6); padding: 1em 1em 1em 1em; ">
                    <span class="label label-default" style="background: rgba(1, 44, 148, 0.7); font-size: 1.3em; "><span class="glyphicon glyphicon-ok"></span> &nbsp;  &nbsp; Selecciona... &nbsp; </span>
                    <p style="position: relative; top: 1em; font-size: 0.8em; color: white;">
                       Selecciona si eres un empleado o un empleador. Lo puedes hacer directamente desde los botones de arriba.
                    </p>
                </div>
            </div>
    <div class="col-md-3">
        <div style="position: relative; top: 1.8em; border-radius: 1em; background: rgba(1, 44, 148, 0.6); padding: 1em 1em 1em 1em; ">
            <span class="label label-default" style="background: rgba(1, 44, 148, 0.6); font-size: 1.3em; "><span class="glyphicon glyphicon-search"></span> &nbsp;&nbsp;Busca... &nbsp;</span>
            <p style="position: relative; top: 1em; font-size: 0.8em; color: white; ">
                Una vez seleccionado, busca la empresa o empleado donde quieres dejar la evaluacion, sino, creala.
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div style="position: relative; top: 1.8em; border-radius: 1em; background: rgba(1, 44, 148, 0.6); padding: 1em 1em 1em 1em; ">
            <span class="label label-default" style="background: rgba(1, 44, 148, 0.6); font-size: 1.3em; "><span class="glyphicon glyphicon-thumbs-up"></span> &nbsp;  &nbsp; Evalua... &nbsp; </span>
            <p style="position: relative; top: 1em; font-size: 0.8em; color:white;">
               Evalua el empleado o empleador seleccionando las diferentes categorias, siempre de 1 a 5.
            </p>
        </div>
    </div>
        </div>
